<ion-content>
  <div class="container">
    <div id="map"></div>
    <input #search list="search" [(ngModel)]="searchTerm" placeholder="search something..."
      (ngModelChange)="onSearchInputChange()" />
    <datalist id="search">
      <option *ngFor="let x of searchResults" [value]="x.display_name"></option>
    </datalist>

    <button (click)="selectAddress()" [disabled]="loading && !foundAddress" class="btn-search">
      Search
    </button>

    <div class="select-location">
      <button [disabled]="loading" (click)="this.getGeolocation()">
        Acceder a la ubicación del dispositivo
      </button>
      <button [disabled]="loading" (click)="closeModal()">
        {{ loading ? "loading..." : "Seleccionar y guardar" }}
      </button>
    </div>

  </div>
</ion-content>
