<ion-header>
  <ion-toolbar>
    <ion-title>Antonio Gonzalez B.</ion-title>
    <ion-buttons slot="end">
      <ion-avatar>
        <ion-img
          src="assets/images/antonio-ficha.jpg"
          style="width: 60%"
        ></ion-img>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="css_card">
    <ion-card-header>
      <img src="assets/images/antonio.jpg" />
      <ion-card-subtitle color="dark"
        >Ingeniero de Software y empresario</ion-card-subtitle
      >
      <ion-card-subtitle>Las Palmas de Gran Canaria</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      El instituto de El Rincón está situado detrás del centro Comercial Las
      Arenas, siendo éste un instituto de referencia en tecnologías informáticas
    </ion-card-content>
  </ion-card>
</ion-content>
