<ion-header>
  <ion-toolbar>
    <ion-title>Tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="tasks$ | async as tasks">
    <ng-container *ngFor="let task of tasks; let idx = index;">
      <ion-card button color="light">
        <ion-item-sliding>
          <ion-card-header>
            <ion-card-subtitle>

              <ion-item color="transparent" fill="full">

                <ion-text>Task</ion-text>

                <ion-buttons slot="end" [id]="'alignment-button-' + idx">
                  <ion-button color="dark">
                    <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
                  </ion-button>
                </ion-buttons>

                <ion-popover [trigger]="'alignment-button-' + idx" side="top" alignment="end">
                  <ng-template>
                    <ion-content>
                      <ion-list class="task-options">
                        <ion-item (click)="deleteTask(task.id)" lines="none" button>Archivar</ion-item>
                        <ion-item (click)="markAsCompleted(task.id)" lines="none" button>Realizada</ion-item>
                      </ion-list>
                    </ion-content>
                  </ng-template>
                </ion-popover>
              </ion-item>

            </ion-card-subtitle>

          </ion-card-header>

          <ion-card-content (click)="presentModal(task)">
            <ion-item color="transparent" lines="none">
              <ion-text> {{ task.description }} </ion-text>
            </ion-item>
          </ion-card-content>

          <ion-item-options class="card-options" side="start">
            <ion-item-option (click)="presentModal(task)">Editar</ion-item-option>
            <ion-item-option (click)="deleteTask(task.id)" color="danger" expandable>
              Archivar
            </ion-item-option>
          </ion-item-options>
          <ion-item-options class="card-options" side="end">
            <ion-item-option (click)="markAsCompleted(task.id)" color="success" expandable>
              Realizada
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-card>
    </ng-container>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="presentModal()" color="warning">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-container>
</ion-content>
