.center {
  text-align: center;
  font-size: 1.5em;
}

.color-danger {
  color: var(--ion-color-danger);
}

.description-length {
  display: block;
  text-align: right;
  font-weight: 600;
}

small {
  padding: 0;
  margin: 0;
}

ion-item {
  --padding-start: 0;
  --padding-end: 0;
}

.description-length {
  position: absolute;
  right: 2em;
  font-weight: 600;
  z-index: 1000;
}

.task-add-subtitle {
  color: var(--ion-color-dark);
  text-transform: uppercase;
}

.task-options {
  padding: 1em;
}
