<ion-header>
  <ion-toolbar>
    <ion-title>Tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="task-add-subtitle">
        Añadir tarea
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="ngForm" (ngSubmit)="onSubmit()">
        <small class="description-length" lines="none" slot="end" color="dark">
          {{ descriptionLength }} / 500
        </small>
        <ion-item>
          <ion-label position="floating"> Tarea a realizar.... </ion-label>
          <ion-textarea formControlName="description"></ion-textarea>
        </ion-item>
        <div
          *ngIf="description.invalid && (description.dirty || description.touched)"
          class="alert"
        >
          <small
            class="error ion-padding color-danger"
            *ngIf="description.errors?.['required']"
          >
            La descripción es requerida.
          </small>
          <small
            class="error ion-padding color-danger"
            *ngIf="description.errors?.['maxLength']"
          >
            Has superado el máximo de caracteres
          </small>
        </div>

        <ion-button
          type="submit"
          class="ion-margin-top extra-padding-top-bottom"
          expand="full"
          >{{ !selectedTask ? 'Añadir' : 'Modificar'}} tarea</ion-button
        >
        <ng-container *ngIf="!!selectedTask">
          <ion-button
            class="ion-margin-top extra-padding-top-bottom"
            expand="full"
            color="light"
            (click)="unSelectTask()"
            >Regresar</ion-button
          >
        </ng-container>
      </form>
    </ion-card-content>
  </ion-card>

  <ng-container *ngIf="tasks$ | async as tasks">
    <ion-card button color="tertiary" *ngFor="let task of tasks">
      <ion-item-sliding>
        <ion-card-header>
          <ion-card-subtitle>
            <ion-item color="transparent" fill="full">
              <ion-text>Task</ion-text>
              <ion-buttons slot="end" id="alignment-button">
                <ion-button color="light">
                  <ion-icon
                    slot="icon-only"
                    ios="ellipsis-horizontal"
                    md="ellipsis-vertical"
                  ></ion-icon>
                </ion-button>
              </ion-buttons>

              <ion-popover
                trigger="alignment-button"
                side="top"
                alignment="end"
              >
                <ng-template>
                  <ion-content>
                    <ion-list class="task-options">
                      <ion-item lines="none" button>Archivar</ion-item>
                      <ion-item lines="none" button>Realizada</ion-item>
                    </ion-list>
                  </ion-content>
                </ng-template>
              </ion-popover>
            </ion-item>
          </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <ion-item color="transparent" lines="none">
            <ion-text> {{ task.description }} </ion-text>
          </ion-item>
        </ion-card-content>
        <ion-item-options class="card-options" side="start">
          <ion-item-option>Editar</ion-item-option>
          <ion-item-option (click)="archivar()" color="danger" expandable
            >Archivar</ion-item-option
          >
        </ion-item-options>
        <ion-item-options class="card-options" side="end">
          <ion-item-option color="success" (click)="completada()" expandable
            >Realizada</ion-item-option
          >
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="warning">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-container>
</ion-content>
